<div id = "hero-section">
	<div id = "hero-overlay">
		<div id = "intro-section">
			<h1>Jay Patel</h1>
			<h2>Full Stack Web Developer</h2>
			<a class = "page-scroll" href = "#about-me">
				<p>Click or scroll to learn more about me.</p>
				<!-- <p><span class = "glyphicon glyphicon-arrow-down"></p></span> -->
			</a>
		</div>
	</div>
</div>

<div class = "wrapper">



	<div class = "row" id = "about-me">
		<div class = "card-deck text-center justify-content-md-center">
			<div class = "col-sm-3 card">
					<img class = "card-img-top" src ="https://givingdata.com/wp-content/uploads/2013/07/html-css-js.png" alt = "card image">
					<div class = "card-body">
						<h4 class = "card-title">Formidable Front-end know-how</h4></p>
						<p class = "card-text">HTML5, CSS3, JavaScript, Handlebars, React</p>
					</div>
			</div>
			<div class = "col-sm-3 card">
					<img class = "card-img-top" src ="https://blocblog.s3.amazonaws.com/2014/02/frontend-backend-skillcrush.jpeg" alt = "card image">
					<div class = "card-body">
						<h4 class = "card-title">No Back-end slouch</h4>
						<p class = "card-text">Node.js, Express, MySQL, MongoDB</p>
					</div>
			</div>
			<div class = "col-sm-3 card">
					<img class = "card-img-top" src ="https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F28759365%2F169577639936%2F1%2Foriginal.jpg?w=1000&rect=0%2C75%2C600%2C300&s=88f8ae500ec60ee51a0fdcb6ac6f1ccd" alt = "card image">
					<div class = "card-body">
						<h4 class = "card-title">MERN stack qualified</h4>
						<p class = "card-text">Experience with building websites using the MERN stack</p>
					</div>
			</div>
		</div>
	</div>


<div class = "row justify-content-md-center" id = "project-links">
	<div class = "col-lg-10 text-center">
		<h1>Personal Projects</h1>
		<ul class="list-group">
			<li class="list-group-item">
				<a href="https://jaylesh27.github.io/whos-your-rep/" target="blank"><img src="http://cdn.phillymag.com/wp-content/uploads/2013/09/shutterstock_white-house-optimized.jpg" alt = "capital hill pic" id = "capitol-hill-image" width="75" height="75"></a>
				<h4>Who's Your Rep</h4>
					<p>A website powered by JavaScript, MaterializeCSS, Google Charts, OpenSecrets API and ProPublica API that takes a user’s input of either a zip code or a state and then outputs a list of congressman and senators for the corresponding state along with data on how much money those politicians get from industries.</p>
			</li>
			<li class="list-group-item">
				
			</li>
			<li class="list-group-item">
				
			</li>
		</ul>
	</div>
</div>



<div class = "row justify-content-md-center" id = "find-me">
	<p class = "text-center"><h1>This section will include links to my github, linkedin, and show my email<h1></p>
</div>


</div>