<div id = "hero-section">
	<div id = "hero-overlay">
		<div id = "hero-text">
			<h1>Hi, I'm Jaylesh Patel, but call me Jay</h1>
			<h2>I design and build full stack web applications.</h2>
		</div>
	</div>
</div>

<div class = "container">
	
</div>