<div id = "hero-section">
	<div id = "hero-overlay">
		<div id = "intro-section">
			<h1>Jay Patel</h1>
			<h2>Full Stack Web Developer</h2>
			{{!-- <a class = "page-scroll" href = "#about-me"> --}}
				<p>Scroll to learn more about me.</p>
				{{!-- <p><span class = "glyphicon glyphicon-arrow-down"></p></span> --}}
			{{!-- </a> --}}
		</div>
	</div>
</div>

<div class = "wrapper">



	<div class = "row justify-content-md-center" id = "about-me">
		<h1>Capable in all aspects of web development</h1>
		<div class = "card-deck text-center justify-content-md-center">
			<div class = "col-sm-3 card">
					<img class = "card-img-top" src ="https://givingdata.com/wp-content/uploads/2013/07/html-css-js.png" alt = "card image">
					<div class = "card-body">
						<h4 class = "card-title">Front-end know-how</h4></p>
						<p class = "card-text">HTML5, CSS3, JavaScript, Handlebars, React</p>
					</div>
			</div>
			<div class = "col-sm-3 card">
					<img class = "card-img-top" src ="https://blocblog.s3.amazonaws.com/2014/02/frontend-backend-skillcrush.jpeg" alt = "card image">
					<div class = "card-body">
						<h4 class = "card-title">No Back-end slouch</h4>
						<p class = "card-text">Node.js, Express, MySQL, MongoDB</p>
					</div>
			</div>
			<div class = "col-sm-3 card">
					<img class = "card-img-top" src ="https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F28759365%2F169577639936%2F1%2Foriginal.jpg?w=1000&rect=0%2C75%2C600%2C300&s=88f8ae500ec60ee51a0fdcb6ac6f1ccd" alt = "card image">
					<div class = "card-body">
						<h4 class = "card-title">MERN stack qualified</h4>
						<p class = "card-text">Experience with building websites using the MERN stack</p>
					</div>
			</div>
		</div>
	</div>


<div class = "row justify-content-md-center" id = "project-links">
	<div class = "col-lg-10 text-center">
		<h1>Personal Projects</h1>
		<ul class="list-group">
			<li class="list-group-item" id = "item1">
				<img src="http://cdn.phillymag.com/wp-content/uploads/2013/09/shutterstock_white-house-optimized.jpg" alt = "capital hill pic" id = "capitol-hill-image" width="100" height="100">
				<h4>Who's Your Rep</h4>
					<p>A website powered by JavaScript, MaterializeCSS, Google Charts, OpenSecrets API and ProPublica API that takes a user’s input of either a zip code or a state and then outputs a list of congressman and senators for the corresponding state along with data on how much money those politicians get from industries.</p>
					<a class="btn btn-outline-dark" href="https://jaylesh27.github.io/whos-your-rep/" target = "_blank" role="button">Site link</a>
					<a class="btn btn-outline-dark" href="https://github.com/jaylesh27/whos-your-rep" target = "_blank" role="button">Github repo</a>
			</li>
			<li class="list-group-item" id="item2">
				<img src="http://news.sap.com/wp-content/blogs.dir/1/files/sap_carbon_impact_ondemand.jpg" alt = "capital hill pic" id = "capitol-hill-image" width="100" height="100">
				<h4>Carbon impact app</h4>
					<p>A​ ​website​ ​that​ ​has​ ​its​ ​users​ ​create​ ​an​ ​account​ ​to​ ​take​ ​a​ ​survey​ ​that​ ​assesses​ ​their​ ​carbon​ ​impact. Technologies​ ​used​ ​include​ ​Handlebars,​ ​JQuery,​ ​Sequelize​ ​ORM​ ​for​ ​the​ ​database,​ ​PassportJS​ ​for​ ​user authentication,​ ​bcrypt​ ​for​ ​hashing​ ​user​ ​passwords,​ ​and​ ​Express</p>
					<a class="btn btn-outline-dark" href="https://cryptic-harbor-25365.herokuapp.com/" target = "_blank" role="button">Site link</a>
					<a class="btn btn-outline-dark" href="https://github.com/jaylesh27/climate-site" target = "_blank" role="button">Github repo</a>
			</li>
			<li class="list-group-item" id = "item3">
				<img src="https://int.nyt.com/chartmaker/2016/10/18/20160909-fipsmarginbugbugbugbugbu/5/artboard-720px.png" alt = "capital hill pic" id = "capitol-hill-image" width="150" height="100">
				<h4>Who's Your Rep Part 2</h4>
					<p>An​ ​improvement​ ​on​ ​the​ ​previously​ ​developed​ ​Who’s​ ​Your​ ​Rep​ ​using​ ​new​ ​technologies​ ​(React, MongoDB).​ ​​ ​It​ ​has​ ​new​ ​features​ ​that​ ​includes​ ​a​ ​calendar​ ​of​ ​politician’s​ ​events​ ​by​ ​state,​ ​as​ ​well​ ​as state-level​ ​political​ ​info​ ​on​ ​a​ ​state’s​ ​national-level​ ​politicians​ ​(Representatives​ ​and​ ​Senators)​ ​as​ ​well​ ​as individual​ ​pages​ ​for​ ​every​ ​representative​ ​and​ ​senator​ ​that​ ​breaks​ ​down​ ​which​ ​industries​ ​each​ ​politician gets​ ​money​ ​from.​ ​​ ​The​ ​database​ ​is​ ​regularly​ ​updated​ ​with​ ​new​ ​data​ ​from​ ​two​ ​sources​ ​(ProPublica​ ​and OpenSecrets)​ ​using​ ​a​ ​task​ ​scheduler​ ​(node-cron)​ ​that​ ​makes​ ​daily​ ​calls​ ​to​ ​the​ ​APIs​ ​provided​ ​by​ ​the aforementioned​ ​sources​ ​to​ ​get​ ​new​ ​data​ ​and​ ​ensure​ ​that​ ​the​ ​end​ ​user​ ​gets​ ​the​ ​most​ ​up-to-date information​ ​on​ ​the​ ​politicians​ ​they​ ​are​ ​searching​ ​for. </p>
					<a class="btn btn-outline-dark" href="https://fathomless-peak-63610.herokuapp.com/" target = "_blank" role="button">Site link</a>
					<a class="btn btn-outline-dark" href="https://github.com/bjk116/WhosYourRepRedux" target = "_blank" role="button">Github repo</a>
			</li>
		</ul>
	</div>
</div>



<div class = "row justify-content-md-center" id = "find-me">
	<div class = "col-md-10">
		<div class="card">
		  <div class="card-body">
		  	<div class = "row justify-content-md-center">
		  	<a href = "https://github.com/jaylesh27" target="_blank"><img src="https://cdn4.iconfinder.com/data/icons/iconsimple-logotypes/512/github-512.png" alt = "github" id = "github-icon" width="200" height="200"></a>

		  	<a href = "https://www.linkedin.com/in/jayleshpatel" target="_blank"><img src="https://image.flaticon.com/icons/svg/174/174857.svg" alt = "LinkedIn" id = "linkedin-icon" width="200" height="200"></a>

		  	<span>
		  		<img src="http://images.clipartpanda.com/email-icon-vector-niEKXzMiA.jpeg" alt = "email" id = "email-icon" width="200" height="200"><br><h5 class="text-center">jaylesh27@gmail.com</h5>
		  	</span>
		  </div>
		  	<hr>
		    <h4 class="text-center">Feel free to reach out to me via LinkedIn or email, and check out my github profile as well to see my previous work and what new projects I"m working on!</h4>
		  </div>
		</div>
	</div>

</div>


</div>